<<<<<<< HEAD
body {
    font-family: 'Saira', sans-serif;
    background-color: #BEBEBE;
}

ul {
    list-style: none;
}

li {
    background-color: #fff;
    margin-top: 5px;
    color: #000;
}

.imglogo {
    border-style: solid;
    border-color: white;
=======
img {
>>>>>>> 89acceb2e9ae6b2688edbf79c25880a3bd615923
    border-radius: 25px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.result {
    opacity: 0px;
    border-top: 2px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 0px solid #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
}

.offline {
    background-color: #006699;

}

.online {
    background-color: #00b386;
}

.logo {
    padding: 0px 20px 0px 0px;
}

.streamer {
    width: 150px;
    padding: 0px 5px 0px 0px;
}

.switches {
    padding-left: 2px;
    width: 100px;
}

.hide {
    display: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;  
    color: white;
}

a:hover .offline {
    background-color: #005580;
}

a:hover .online {
    background-color: #008060;
}

a {
    color: white;
}

#header {
    text-transform: uppercase;
    background-color: #D78918;
    padding: 0px 5px 0px 10px;
    color: #fff;
}
#loading-twitch {
    padding-top: 20px;
}

#twitchLogo {
    width: 50px;
    height: 50px;
}

svg {
    height: 12px;
    width: 12px;
    padding: 1px;
}

circle {
    stroke: black;
}

@media (max-width: 769px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 576px) {
    .gameHeading {
        display: none;
    }
    h1 {
        font-size: 1em;
    }
    #twitchLogo {
        width: 30px;
        height: 30px;
    }
    .streamer {
        width: 100px;
    }
}

@media (max-width: 376px) {
    .streamer {
        width: 100px;
    }
    h1 {
        font-size: 1em;
    }
    

}

